@model AppMovie.Models.Return

@{
    ViewData["Title"] = "Devoluciones";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Elegir pelicula</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select id="MovieID" class="form-control" asp-items="ViewBag.MovieID"></select>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" onclick="AgregarPeliculasDevolucion();">Devolver pelicula</a>
            </div>
        </div>
    </div>
</div>



<div>
    <h4 class="sombraTexto sizeText">devolucion</h4>
    <div class="row HomeV2">
        <hr />
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ReturnDate" class="control-label"></label>
                    <input asp-for="ReturnDate" class="form-control" />
                    <span asp-validation-for="ReturnDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PartnerID" class="control-label"></label>
                    <select asp-for="PartnerID" class ="form-control" asp-items="ViewBag.PartnerID"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Devolver" class="btn botonCrearV2" />
                    <button type="button" class="btn botonVolver" onclick="CancelReturn();">Cancelar devolucion</button>
                    <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class="button-content">Pelicula</span></button> 
                </div>
            </form>
        </div>
                @* Table *@
                <table class="table marginTable">
                    <thead>
                        <tr>
                            <th>Titulo de la pelicula</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-Devolucion">
                    </tbody>
                </table>
                @* /table *@
    </div>
</div>

@section Scripts{
    <script>
        window.onload = CargarPaginasDevolucion();
    </script>
}
</body>
</html>
