@model AppMovie.Models.Return

@{
    ViewData["Title"] = "Devoluciones";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div class="HomeV2">
    <h4 class="sombraTexto sizeText">Return</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner.PartnerName)
        </dd>
    </dl>
        <table class="table marginTable">
        <thead>
                <tr>
                    <th>Titulo de la pelicula</th>
                </tr>
        </thead>
        <tbody id="tbody-peliculasReturn"></tbody>    
    </table>
    <a class="botonVolver" asp-action="Index">Volver a la lista</a>
    <div>
</div>

@section Scripts{
    <script>
        window.onload = SearchMovieReturn(@Model?.ReturnID);
    </script>
}
</body>
</html>
