@model AppMovie.Models.Rental
@{
    ViewData["Title"] = "Alquileres";
    Layout = "_Layout";
    <script src="~/js/rentalMovie.js"></script>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div class="HomeV2">
    <h4 class="sombraTexto sizeText">Rental</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner.PartnerName)
        </dd>
    </dl>
    <table class="table marginTable">
        <thead>
                <tr>
                    <th>Titulo de la pelicula</th>
                </tr>
        </thead>
        <tbody id="tbody-peliculasDetail"></tbody>    
    </table>
    <div>
    <a class="botonVolver" asp-action="Index">Volver a la lista</a>
</div>


@section Scripts{
    <script>
        window.onload = SearchMovie(@Model?.RentalID);
    </script>
}
</body>
</html>
