@model AppMovie.Models.Rental
@{
    ViewData["Title"] = "Alquileres";
}
@{
    Layout = "_Layout";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
<div class="HomeV2">
    <h4 class="sombraTexto sizeText">Alquiler</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RentalID" />
                <div class="form-group">
                    <label asp-for="RentalDate" class="control-label sombraTexto"></label>
                    <input asp-for="RentalDate" class="form-control" />
                    <span asp-validation-for="RentalDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PartnerID" class="control-label sombraTexto"></label>
                    <select asp-for="PartnerID" class="form-control" asp-items="ViewBag.PartnerID"></select>
                    <span asp-validation-for="PartnerID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn botonCrearV2" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn botonVolver" asp-action="Index">Volver a la lista</a>
    </div>
</div>


</body>
</html>
