@model AppMovie.Models.Partner
@{
    ViewData["Title"] = "Socios";
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
<div class="HomeV2">
    <h4 class="sombraTexto sizeText">Partner</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PartnerID" />
                <div class="form-group">
                    <label asp-for="PartnerName" class="control-label sombraTexto"></label>
                    <input asp-for="PartnerName" class="form-control" />
                    <span asp-validation-for="PartnerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PartnerDirection" class="control-label sombraTexto"></label>
                    <input asp-for="PartnerDirection" class="form-control" />
                    <span asp-validation-for="PartnerDirection" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PartnerPhone" class="control-label sombraTexto"></label>
                    <input asp-for="PartnerPhone" class="form-control" />
                    <span asp-validation-for="PartnerPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PartnerBirthDate" class="control-label sombraTexto"></label>
                    <input asp-for="PartnerBirthDate" class="form-control" />
                    <span asp-validation-for="PartnerBirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LocationID" class="control-label sombraTexto"></label>
                    <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
                    <span asp-validation-for="LocationID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn botonCrearV2" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn botonVolver" asp-action="Index">Volver a la lista</a>
    </div>
</div>
</body>
</html>
